/* reset margin, padding */
body {
    margin: 0 !important;
    padding: 0 !important
}

.red {
    border: 1px solid red
}

.green {
    border: 1px solid green
}

.banner {
    height: 500px;
    background: url("./banner.jpg") center center no-repeat;
    padding: 20px
}

.about-sign-in {
    height: 80px;
    width: 100%;
    text-align: right;
}

.about,
.sign-in {
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    text-transform: uppercase;
}

.sign-in {
    margin-right: 60px;
    margin-left: 25px;
    border-radius: 20px;
    border: 1px solid green
}

.logo {
    background: url("./hapoERP.png") center center no-repeat;
    margin-top: 50px;
    height: 100px;
}

.text {
    text-align: center;
    margin-top: 20px;
}

.button-start-now {
    text-align: center;
}

.banner .button-start-now button {
    text-transform: uppercase;
    border: 1px solid green;
    border-radius: 20px;
    padding: 10px 16px;
    margin-top: 20px;
    cursor: pointer;
}

.content-center {
    /* height: 50px; 
    margin-top: 20px;
    margin-bottom: 20px; */
}

.left,
.center,
.right {
    width: 33%;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

span {
    display: block;
    font-size: 20px;
    padding-top: 5px;
}

.text span {
    color: green;
}

img {
    width: 30px;
    height: 30px;
}